# Frontend (nếu vẫn dùng Streamlit để test)
streamlit
streamlit-webrtc

# Xử lý ảnh/video
opencv-python-headless

# Machine Learning
tensorflow
mediapipe
numpy
pandas
scikit-learn

# Web backend
fastapi
uvicorn[standard]
